.carousel{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    color: black;
}
.carousel img{
    width: 310px;
    height: 270px;
    
}
.card-container{
    margin: 0px !important;
    padding: 1px !important;
}
.cardm{
    width: auto;
    height: auto;
    font-size: 15px;
    border: none;
    border-radius: 20px;
}

.carousel .carousel-indicators button {
    background-color: #ffffffee;
    border: none;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

@media (max-width: 800px) {
    .card{
      width: fit-content;
    } 
    .card-container{
        display:block !important;
    }
    .card-spacing{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .carousel{
        width: 450px;
        height: 350px;
    }
    .carousel img{
        width: 450px;
        height: 350px;
    }
}
@media (max-width: 1024px) {
    .card{
        width: fit-content;
      } 
    
    .carousel{
        width: 450px;
        height: 350px;
    }
    .carousel img{
        width: 450px;
        height: 350px;
    }
}
